@page "/todolist"
@using FirstToDoList.Services;
@inject ToDoServices ToDoServices;


<PageTitle>TODO List</PageTitle>

<h1>TODO List</h1>

<p role="status">Current Lista:</p>
<div class="col">
    <button class="btn btn-primary" @onclick="AddTask">Add a Task</button>
    <input type="text" id="task" name="task" @bind="task">
</div>
<div class="col col-md-4">

<div class="col">
    @foreach (string task in model.ToDoList)
    {
        <div class="col">
            <button class="btn btn-success" >Done</button>
            <button class="btn btn-danger" >Remove</button>
            <span class=""> @task</span>
        </div>
    }
</div>
</div>

@code {

    string task = "";
    public ToDoListModel model = new();

    private async Task AddTask()
    {
       model.ToDoList.Add(task);
       await ToDoServices.ToDoListToMemory.AddRange(model.ToDoList);
       task = "";
    }
    protected override async Task OnInitializedAsync()
    {

    }

}
