@page "/todolist"
@using FirstToDoList.Services
@using FirstToDoListBlazor.Model
@using FirstToDoListBlazor.Components
@inject ToDoServices ToDoServices


<EditForm Model="@model" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator /> 
<PageTitle>TODO List</PageTitle>

<h1>TODO List</h1>

<span class="" role="status"> <em>Here you can add a task to your ToDo List:</em></span>

    <div class="form-group">
    <div class="col">
        <button class="btn btn-primary" @onclick="AddTask">Add a Task</button>
        <InputText type="text" id="task" name="task" @bind-Value="task"/>
    </div>
    </div>

<hr>

<span class="" role="status"><em>ToDo List:</em></span>
<div class="form-group">
<div class="col col-md-4">
    <div class="col">
        @foreach (string task in model.ToDoList)
        {
            @if(!string.IsNullOrWhiteSpace(task) && !task.All(Char.IsDigit))
            {
                <div class="col">
                    <button class="btn btn-outline-success" >Done</button>
                    <button class="btn btn-outline-danger" @onclick=@(_ =>RemoveTask(task))>Remove</button>
                    <span>@task</span>
                </div>
            }
            else
            {
                <ModalDialog Title="Warning" Text="You need to insert a name for your task" OnClose="@OnDeleteDialogClose"></ModalDialog>
            }


        }
    </div>
</div>
</div>

</EditForm>
@code {
    public ToDoListModel model = new();

    string task;
    public bool DeleteDialogOpen {get; set; }
    private void OnDeleteDialogClose(bool accepted)
    {
        DeleteDialogOpen = false;
        StateHasChanged();
    }
    private void OpenDeleteDialog()
    {
        DeleteDialogOpen = true;
        StateHasChanged();
    }
    private async Task AddTask()
    {
        if(!model.ToDoList.Contains(task))
        {
            model.ToDoList.Add(task);
        }
        await ToDoServices.Save(model);
        task = "";
    }

    private async Task RemoveTask(string task)
    {
        model.ToDoList.Remove(task);
        await ToDoServices.Save(model);

    }    
    private void SaveTask()
    {
        model.ToDoList.Add(task);
    }
    

    protected async override Task OnInitializedAsync()
    {
        await ToDoServices.GetListFromDB(model);
    }
    private async Task SubmitForm()
    {

    }

}
       @* task = "<del style=text-decoration:line-through>task</del>"; *@
       @* task.Attributes.Add("task", "text-decoration: line-through;"); *@
       @* task = task.Style["text-decoration"] = "line-through"; *@
       @* model.ToDoList.Add(<span style=text-decoration: line-through> @task</span>); *@
